@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Personal data</h3>
<p>On this site we only store your personal data needed to deliver our service.</p>
<p>The personal data we store is <b>E-mail address</b> and <b>Phone number</b></p>
<p>If you wish to review or delete your personal data you can do so in your account settings. (Click on your e-mail address to the left of the logout button)</p>
<br />
<p>We store your personal data to be able to link your orders with your account and to make sure you are a real person.</p>
<p>The only personal data that is required to create an account is an e-mail address.</p>
<p>We will store your personal data for as long as you are our customer, but you can always terminate your account and delete your personal data</p>
<h3>Cookies</h3>
<p>On this site we use cookies to store the contents of your shopping cart and to keep you logged in.</p>
<p>Our service can not function without cookies.</p>